@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

.img {
	max-width: 100%;
	height: auto;

}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: Rubik, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}


.logo-header-container {
	margin: 20px auto -25px 200px;
	width: 145px;

}

.user-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	margin: 0 140px 0 140px;
	background-color: #FFE17F;

}

.heder-form-basket {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1040px;
	margin: 30px 60px;

}

.user-panel-form {
	display: block;
	margin-bottom: 30px;
	width: 517px;
}

.user-panel-search {
	font-size: 16px;
	line-height: 20px;

}

.user-panel-basket {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

.user-panel-link {
	color: #000000;
	text-decoration: none;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	margin: 0 60px 38px 60px;

}


.navigation-catalog {
	display: flex;
	width: 293px;
	margin-right: 60px;

}

.navigation-catalog-link-list {
	display: flex;
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.navigation-catalog-button {
	background-color: #FFE17F;
	margin: 0;
	padding: 0;
	border: none;
	width: 50px;
}

.navigation-container {
	display: flex;
	width: 471px;

}

.link-catalog-main {
	color: #000000;
	text-decoration: none;
}

.navigation-link {
	color: #000000;
	text-decoration: none;
}


.navigation-list {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	list-style: none;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 471px;
	margin: 0;
	padding: 0;

}

.main-container {
	flex-grow: 1;
}

/* Слайдер промо-товаров */

.promo-content-container {
	display: flex;
	justify-content: space-around;
	width: 1160px;
	margin: 0 140px 70px 140px;

}

.promo-slider-image-block-conainer {
	display: flex;
	width: 560px;
	align-items: center;
}

.promo-slider-image {
	display: block;
	flex-wrap: wrap;
}


.promo-slider-description {
	display: flex;
	width: 560px;
}


.promo-slider-list,
.promo-slider-controls-list,
.slider-description-list {
	list-style: none;

}


.promo-slider-title {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;


}

.promo-slider-text {
	color: #444444;
	margin-bottom: 51px;
}


.promo-slider-link-button {

	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	background-color: #FFE17F;
	color: #000000;
	text-decoration: none;
	width: 220px;
	padding: 0;
	margin: 0;
}

.arrow {
	border: none;
	margin: 0;
	padding: 0;

}

.promo-slider-controls-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	width: 76px;

}

.promo-slider-controls-button {
	margin: 0;
	padding: 0;

	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border: 2px solid #000000;
	border-radius: 50%;


}

.description-value {
	font-size: 36px;
	line-height: 30px;
	color: #444444;
}

.description-name {
	font-size: 16px;
	line-height: 30px;
	color: #000000;
}

.slider-more-controllers {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 560px;
	margin-bottom: 49px;
}

.promo-slider-controls-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.slider-properties {
	display: flex;
	width: 400px;
	padding-bottom: 38px;
	margin-bottom: 70px;
}

.catalog-description-name-value {
	width: 200px;
	margin-right: 20px;
}

.description-name,
.description-value {
	margin: 0;
	padding: 0;
}

.description-value {
	padding-bottom: 12px;
}


/* Категории товаров */

.category-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	margin: 0 140px 70px 140px;
}

.category-image-list {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	list-style: none;
	color: #000000;
	display: flex;
	padding: 0;
	margin: 0;
}


.category-item {
	display: block;
	margin-right: 40px;
	padding: 53px 31px 52px 30px;
	margin: 0 40px 70px 0;
	background-color: #ffe17f;
}

.category-link {
	list-style: none;
	color: #000000;
	text-decoration: none;
}

/* Преимущества */
.benefits-container {
	display: flex;
	justify-content: flex-start;
	background-color: #F0F0F0;
	margin: 0 0 70px 0;
}

.benefits-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	background: none;
	margin: -72px 140px 72px 140px;
}


.benefits-buttons-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.benefits-buttons-item {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #000000;
	background-color: #FFE17F;
	border: 0;
}

.benefits-buttons-item-choice {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFE17F;
	background-color: #000000;
}

.benefits-description-list,
.benefits-image-list {
	list-style: none;
}

.benefits-title {
	font-size: 50px;
	line-height: 50px;

}

.benefits-description-text {
	color: #444444;
}

.benefits-image-item {
	display: block;
	margin: 0;
	padding: 0;

}


/* Доставим редкий товар */

.delivery {
	width: 1160px;
	margin: 70px 140px 70px 140px;
}


.delivery-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #F0F0F0;
	margin-bottom: 70px;
}

.delivery-card {
	width: 125px;
	height: 100px;
	background-color: #FFE17F;
}

.benefits-item-description {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	width: 910px;
	background-color: #F0F0F0;

}

.benefits-item-info {
	background-color: #F0F0F0;
}

.benefits-item-info-link {
	width: 125px;
}

/* Блок "Контакты" и "О нас" */

.about-contacts-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 1160px;
	margin: 0 140px 70px;
}

.info-container {
	display: block;
	margin: 0;
	padding: 0;
	width: 520px;

}

.contacts-container {
	display: block;
	margin: 0;
	padding: 0;
	width: 520px;

}

.info-container-title {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;

}


.contacts-info {
	color: #444444;
	padding-left: 0;
	list-style: none;
}

.info-brands-list {
	color: #FFC700;
}

.red-dot {
	font-family: "Rubik", Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.contacts-info-link {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	background-color: #FFE17F;
	color: #000000;
	text-decoration: none;
}

.footer-adress-text {
	color: #444444;
}

.footer-working-hours {
	color: #444444;
}


/* Подписка на рассылку */
.mailing-container {
	background-color: #F0F0F0;

}

.mailing-text-wrapper {
	display: flex;
	justify-content: space-between;
	width: 1160px;
	margin: 64px 133px 56px 141px;
	padding-top: 64px;


}

.mailing-form-wrapper {
	display: flex;
	width: 1160px;
	justify-content: space-between;
	margin-left: 140px;
}

.mailing-description {
	color: #444444;
}

/* Футер */

.page-footer {
	background-color: #444444;

}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	width: 1440px;
}

.footer-adress-wrapper {
	width: 239px;
	margin: 0 119px 77px 140px;
}

.footer-menu-wrapper {
	margin-bottom: 102px;

}

.footer-menu-social {
	display: flex;
	flex-direction: column;
	width: 444px;
	margin: 0 183px 61px 0;
}

.footer-phone-html {
	width: 175px;
	margin: 0 140px 65px 0;
}

.footer-menu-phone {
	display: flex;
	margin-bottom: 63px;

}

.footer-htmlacademy {
	display: flex;

}

.footer-htmlacademy-link {
	padding: 0;
	margin: 0;
}

.footer-logo {
	display: block;
	margin: 62px 1154px 35px 140px;
	margin-bottom: 35px;
	width: 145px;
}

.footer-menu-adress {
	color: #FFFFFF;
	width: 300px;
	margin: 0;
	padding: 0;
}

.footer-menu-list {
	display: flex;
	justify-content: space-between;
	width: 444px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-menu-link {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	text-decoration: none;
}

.footer-contacts-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 63px;
}



/* Социальные сети */

.footer-social-list {
	display: flex;
	width: 450px;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;


}


.social-button {
	width: 40px;
	height: 40px;
	margin-right: 15px;
	margin-bottom: 15px;
	background-color: #FFFFFF;

}

.social-button:nth-child(3n) {
	margin-right: 0;

}


.footer-htmlacademy-logo {
	margin: 0;
	padding: 0;
	display: block;
	margin-right: 140px;

}


/* Catalog */

main-inner {
	flex-grow: 1;
}

.inner-header {
	display: flex;

}

.inner-header-title {
	display: block;
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	color: #000000;
	width: 541px;
	margin-left: 200px;
	margin-right: 699px;
	margin-bottom: 16px;


}

.menu-inner-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 429px;
	margin-left: 200px;
	padding-bottom: 35px;

	list-style: none;
}

.menu-inner-link {
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
}

.catalog-block-wrapper {
	display: flex;
	background-color: #F0F0F0;


}

.catalog-filter-wrapper {
	background-color: #F0F0F0;
	display: flex;
	flex-direction: column;

}


.catalog-filter,
.sorting-title {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin-left: 120px;

}

.catalog-filter-form {
	width: 320px;
	margin-left: 120px;


}

.catalog-filter-title {
	font-weight: 700;
	line-height: 20px;
}

.catalog-download-more {
	display: flex;
	justify-content: center;
	align-content: center;

}

.control-input {
	font-size: 16px;
	line-height: 19px;

}

.button-view {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background: #FFE17F;
	border: none;
}


.sorting {
	display: flex;
	justify-content: space-around;
	width: 840px;
	background-color: #F0F0F0;
}

.catalog-product-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 840px;
	margin: 70px 40px 0 40px;
	background-color: #FFFFFF
}

.product-card-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.product-card-item {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
}

.product-card-image {
	display: block;
	width: 360px;
	margin-bottom: 32px;

}

.product-card-item:nth-child(1) {
	margin: 70px 40px 44px 40px;
}

.product-card-item:nth-child(2) {
	margin: 70px 40px 44px 0;
}

.product-card-item:nth-child(3) {
	margin: 0 40px 44px 40px;
}

.product-card-item:nth-child(4) {
	margin: 0 40px 44px 0;
}

.product-card-link {
	font-weight: 700;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
	width: 360px;
	margin: 0;
	padding: 0;

}

.product-card-wrapper {
	display: flex;
	width: 360px;

}

.product-card-price {
	width: 100px;
}

.product-card-price {
	font-family: "Rubik", Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
}

.catalog-download-more {
	display: flex;
	margin: 0 40px 44px 40px;
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	color: #000000;

}

.catalog-download-more-button {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 19px;
	color: #000000;

	background-color: #FFFFFF;
	margin: 0;
	width: 760px;
	padding: 18px 295px 18px 295px;
	border: 3px solid #E5E5E5;


}

/* Пагинация */
.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 760px;
	background-color: #F0F0F0;
	margin: 0 40px 78px 40px;
	padding: 25px;
}

.pagination-item-more-list {
	display: flex;
	margin: 0;
	padding: 10px;
	list-style: none;
	width: 200px;
	justify-content: space-between;
}

.pagination-item-link {
	color: #444444;
	text-decoration: none;
	margin: 0;
	padding: 0;
	opacity: 0.3;
}

.pagination-item-link-back,
.pagination-item-link-forward {
	font-family: "Raleway", Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-decoration: none;
}
